__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
.envrc
.idea/
.vscode/
.pytest_cache/
.coverage
htmlcov/

# Docker
*.log
**/dist/
**/build/ 
elivision-ai-1-4e63af45bd31.json
backend/elivision-ai-1-4e63af45bd31.json
backend/fasttext.whl
backend/lid.176.bin